.sign-up-card {
    width: 39%;
    margin: 9% auto;
}
h3 {
    text-align: center;
}
.sign-up-btn {
    margin-top: 3%;
}
.country-code {
    width: 23%;
}
.contact-number {
    width: 73%;
}
.contact-info {
    display: flex;
    justify-content: space-between;
}
.country-flag {
    width: 20%;
}
.MuiPopover-paper {
    width: 35%;
}
.country-name {
    padding-left: 2%;
}