
.login-card {
  width: 40%;
  margin-top: 9%;

}
.center {
  margin: 0 auto;
}
.align-center {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-width {
  width: 100%;
}
.padding-bottom {
  padding-bottom: 5%;
}
.MuiButton-outlinedPrimary {
  color: #58a847 !important;
  border: 1px solid #58a847 !important;
}
.MuiButton-outlinedPrimary:hover {
  color: #ffff !important;
  background-color: #58a847 !important;
}
.sign-up-text {
  color: #58a847;
  text-decoration: underline;
}
.sign-up {
  margin-top: 3%;
}
a {
  color: #58a847;
}